# models
model/*
*.pt
*/*.pt
*/*/*.pt
*/*/*/*.pt
*/*/*/*/*.pt
*/*/*/*/*/*.pt
*/*/*/*/*/*/*.pt
*/*/*/*/*/*/*/*.pt


# submodules
lm-evaluation-harness/


# Python cache
__pycache__/
*.pyc

# Logs
*.log
awq/log/mine.txt
