# The model path
model/*
custom_model_quantize_inference/custom_aqlm/model/*

# The lm-evaluation-harness path
lm-evaluation-harness/

# Python cache
__pycache__/
*.pyc

# Logs
*.log
awq/log/mine.txt
